<?xml version="1.0"?>
<robot name="assistive_workspace" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="camera.xacro" />

  <xacro:include filename="$(find mycobot_description)/urdf/mycobot_280_pi/mycobot_280_pi_adaptive_gripper.urdf" />

  <link name="world"/>

  <link name="table_link">
    <inertial>
      <mass value="50.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="1.0 1.0 0.8"/>
      </geometry>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <material name="wood">
        <color rgba="0.6 0.4 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 1.0 0.8"/>
      </geometry>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="workspace_paper">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.225 0.378 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="table_to_paper" type="fixed">
    <parent link="table_link"/>
    <child link="workspace_paper"/>
    <origin xyz="0.25 0 0.8005" rpy="0 0 0"/>
  </joint>

  <joint name="table_to_camera" type="fixed">
    <parent link="table_link"/>
    <child link="camera_link"/>
    <origin xyz="0.25 0 1.3" rpy="0 1.5708 0"/>
  </joint>

  <joint name="table_to_robot" type="fixed">
    <parent link="table_link"/>
    <child link="g_base"/>
    <origin xyz="0 0 0.8" rpy="0 0 0"/>
  </joint>

  <gazebo reference="table_link">
    <material>
      <ambient>0.6 0.4 0.2 1.0</ambient>
      <diffuse>0.6 0.4 0.2 1.0</diffuse>
    </material>
  </gazebo>
  
  <gazebo reference="workspace_paper">
    <material>
      <ambient>1.0 1.0 1.0 1.0</ambient>
      <diffuse>1.0 1.0 1.0 1.0</diffuse>
    </material>
  </gazebo>

</robot>